.card-img {
    display: block;
    max-height: 279 px;
    max-width: 200 px;
    width: auto;
    height: auto;
}

#card-popover p {
    margin-bottom: 2px;
    padding: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}