.component-title {
    text-align: center;
}

#card-catalog-container {
    display: flex;
}

#card-window-container {
    text-align: center;
    width: 70%;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
    justify-content: center;
}

.card-container {
    margin: 0 10px 10px 10px;
}

#filter-container {
    text-align: center;
    width: 30%;
}

#dropdown-basic-button {
    background-color: #17b094;
    border-color: #17b094;
}

.dropdown-item:active {
    background-color: #17b094;
}