.component-title {
    text-align: center;
}

#card-catalog-container {
    display: flex;
}

#card-window-container {
    text-align: center;
    width: 80vw;
}

#card-view-container {
    display: flex;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
    justify-content: center;
}

.loading-placeholder {
    display: flex;
    align-self: center;
}

#loading-text {
    margin-left: 10px;
    color: grey;
}

#pagination-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pagination li a {
    color:#17b094;
}

#page-counter {
    display: flex;
    align-items: center;
    color: black;
}

#page-input {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#page-number {
    width: 55px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.form-label {
    margin-left: 5px;
}

.form-select {
    height: 33px;
    width: 72px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-container {
    margin: 0 10px 10px 10px;
}

#filter-container {
    text-align: center;
}

#dropdown-basic-button {
    background-color: #17b094;
    border-color: #17b094;
}

.dropdown-item:active {
    background-color: #17b094;
}